@using HelloJCE.Models
@model HelloJCE.Models.ItemRating

@*<h3>@Model.Name <small>@Model.Description</small></h3>*@
<div class="ratting-item" data-pid="@Model.ItemID">
    <input class="rating" name="vote" type="radio" value="1" @Utils.Check(0, 1, Model.AverageRating) />
    <input class="rating" name="vote" type="radio" value="2" @Utils.Check(1, 2, Model.AverageRating) />
    <input class="rating" name="vote" type="radio" value="3" @Utils.Check(2, 3, Model.AverageRating) />
    <input class="rating" name="vote" type="radio" value="4" @Utils.Check(3, 4, Model.AverageRating) />
    <input class="rating" name="vote" type="radio" value="5" @Utils.Check(4, 5, Model.AverageRating) />
</div>
<span class="result"></span>