@using HelloJCE.Models
@model HelloJCE.Models.ItemRating

<div id="rated">
    <div style="float:left">
        <form id="Form1" method="post" action="">
            <input class="star {split:4}" type="radio" value="1" name="rating1" @Utils.Check(0, 0.25, Model.AverageRating)/>
            <input class="star {split:4}" type="radio" value="2" name="rating1" @Utils.Check(0.25, 0.5, Model.AverageRating)/>
            <input class="star {split:4}" type="radio" value="3" name="rating1" @Utils.Check(0.5, 0.75, Model.AverageRating)/>
            <input class="star {split:4}" type="radio" value="4" name="rating1" @Utils.Check(0.75, 1, Model.AverageRating)/>
            <input class="star {split:4}" type="radio" value="5" name="rating1" @Utils.Check(1, 1.25, Model.AverageRating)/>
            <input class="star {split:4}" type="radio" value="6" name="rating1" @Utils.Check(1.25, 1.5, Model.AverageRating)/>
            <input class="star {split:4}" type="radio" value="7" name="rating1" @Utils.Check(1.5, 1.75, Model.AverageRating)/>
            <input class="star {split:4}" type="radio" value="8" name="rating1" @Utils.Check(1.75, 2, Model.AverageRating)/>
            <input class="star {split:4}" type="radio" value="9" name="rating1" @Utils.Check(2, 2.25, Model.AverageRating)/>
            <input class="star {split:4}" type="radio" value="10" name="rating1" @Utils.Check(2.25, 2.5, Model.AverageRating)/>
            <input class="star {split:4}" type="radio" value="11" name="rating1" @Utils.Check(2.5, 2.75, Model.AverageRating)/>
            <input class="star {split:4}" type="radio" value="12" name="rating1" @Utils.Check(2.75, 3, Model.AverageRating)/>
            <input class="star {split:4}" type="radio" value="13" name="rating1" @Utils.Check(3, 3.25, Model.AverageRating)/>
            <input class="star {split:4}" type="radio" value="14" name="rating1" @Utils.Check(3.25, 3.5, Model.AverageRating)/>
            <input class="star {split:4}" type="radio" value="15" name="rating1" @Utils.Check(3.5, 3.75, Model.AverageRating)/>
            <input class="star {split:4}" type="radio" value="16" name="rating1" @Utils.Check(3.75, 4, Model.AverageRating) />
            <input class="star {split:4}" type="radio" value="17" name="rating1" @Utils.Check(4, 4.25, Model.AverageRating)/>
            <input class="star {split:4}" type="radio" value="18" name="rating1" @Utils.Check(4.25, 4.5, Model.AverageRating)/>
            <input class="star {split:4}" type="radio" value="19" name="rating1" @Utils.Check(4.5, 4.75, Model.AverageRating)/>
            <input class="star {split:4}" type="radio" value="20" name="rating1" @Utils.Check(4.75, 5, Model.AverageRating)/>
        </form>
    </div>
    <p id="currentlyrated" style="float:left;padding-left:20px;">
        @(Model.AverageRating > 0 ? "Currently rated " + Model.AverageRating.ToString("f") + " by " + Model.TotalRaters + " people" : "<span style=\"color:red\">Not yet rated.  Be the first to rate this article!</span>")
    </p>
</div>
<div style="clear:both"></div>

<div id="rater">
    <div style="float:left;">
        <form id="rate" method="post" action="">
            <input class="auto-submit-star" type="radio" name="score" value="1" />
            <input class="auto-submit-star" type="radio" name="score" value="2" />
            <input class="auto-submit-star" type="radio" name="score" value="3" />
            <input class="auto-submit-star" type="radio" name="score" value="4" />
            <input class="auto-submit-star" type="radio" name="score" value="5" />
            <input type="hidden" name="ItemID" value="@Model.ItemID" />
        </form>
    </div>
    <p style="float:left;padding-left:20px;">
        Rate Now!
    </p>
</div>
<div style="clear:both"></div>
@Styles.Render("~/Content/rate")