@model HelloJCE.Models.MovieDetailsModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Movie.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movie.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movie.Image)
        </dt>

        <dd>
            <img src="@Model.Movie.Image" height="100" />
            <p> @Html.Partial("_MovieRatingPartial", Model.Movie)</p>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movie.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movie.ReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Movie.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movie.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Movie.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movie.Price)
        </dd>

    </dl>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Movie.Id }, new { @class = "label label-warning" }) |
        @Html.ActionLink("Back to List", "Index", null, new { @class = "label label-primary" })
    </p>
    <p>
        @foreach (var item in Model.Movie.Comments)
        {
            <div class="panel panel-default">
                <div class="panel-body">

                    <span class="label label-default">[ @item.Date.ToString("dd MMMM yyyy  HH:mm") @item.UserName wrote: ]</span>    @item.Text
                    <br />
                    @*@Html.ActionLink("Delete", "DeleteComment", new { id = item.Id }, new { @class = "label label-danger", @id = "confirmDelete" })*@
                    <a class="label label-danger" data-toggle="modal" id="deleteComment" href="#confirmDeleteComment" data-id="@item.Id">Delete</a>
                </div>
            </div>
        }
    </p>


    <div class="modal fade" id="confirmDelete">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Delete comment</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this?</p>
                </div>
                <div class="modal-footer">
                    @using (Html.BeginForm("DeleteComment", "Movies"))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("commentId");
                        <input type="submit" value="Delete" class="btn btn-primary" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    }
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <p>
        @Html.Partial("_CreateComment", Model.Comment)
    </p>
</div>

@Styles.Render("~/Content/ifranrate")
@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/ifranrate")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        //modal comment delete confirm 
        $(document).on("click", "#deleteComment", function () {
            var id = $(this).data('id');
            $(".modal-footer #commentId").val(id);
            $('#confirmDelete').modal('show');
        });

        // ratting system: https://github.com/irfan/jquery-star-rating
        $('.ratting-item').rating(function (vote, event) {
            var anchor = $(event.currentTarget),
                pid = anchor.closest(".ratting-item").data("pid"),
                url = '@Url.Action("RateItem", "Movies")';

            // show message while doing the database round trip
            $('.ratting-item[data-pid=' + pid + ']')
                .next()
                .text("Placing your vote...");

            $.ajax({
                url: url,
                type: "GET",
                data: { rate: vote, id: pid },
                success: function (data) {

                    if (data.success) {
                        // all went well, here you can say Thank you
                        $('.ratting-item[data-pid=' + data.pid + ']')
                            .next()
                            .text("Voted! Total votes: " + data.total + "");
                    }
                    else {
                        // There must be an Exception error, let's show it
                        $('.ratting-item[data-pid=' + data.pid + ']')
                            .next()
                            .text("You have already rated");
                    }
                },
                error: function (err) {
                    // the call thrown an error
                    //$('.result').text(err);
                },
                complete: function () {
                    //$(".loading").hide();
                }
            });
        });
    </script>
}
