@model IEnumerable<HelloJCE.Models.Movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "label label-warning" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
                <p> @Html.Partial("_MovieRatingPartial", item)</p>
            </td>
            <td>
                <img src="@(item.Image)" height="55" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "label label-success" }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "label label-warning" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "label label-danger" })
            </td>
        </tr>
    }
</table>

@Styles.Render("~/Content/ifranrate")
@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/ifranrate")

    <script type="text/javascript">
        // ratting system: https://github.com/irfan/jquery-star-rating
        $('.ratting-item').rating(function (vote, event) {
            var anchor = $(event.currentTarget),
                pid = anchor.closest(".ratting-item").data("pid"),
                url = '@Url.Action("RateItem", "Movies")';

            // show message while doing the database round trip
            $('.ratting-item[data-pid=' + pid + ']')
                .next()
                .text("Placing your vote...");

            $.ajax({
                url: url,
                type: "GET",
                data: { rate: vote, id: pid },
                success: function (data) {

                    if (data.success) {
                        // all went well, here you can say Thank you
                        $('.ratting-item[data-pid=' + data.pid + ']')
                            .next()
                            .text("Voted! (product id: " + data.pid + ")");
                    }
                    else {
                        // There must be an Exception error, let's show it
                        $('.ratting-item[data-pid=' + data.pid + ']')
                            .next()
                            .text("Something went wrong...");
                    }
                },
                error: function (err) {
                    // the call thrown an error
                    $('.result').text(err);
                },
                complete: function () {
                    //$(".loading").hide();
                }
            });
        });
    </script>
}