@model IEnumerable<HelloJCE.Models.Movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create",null, new { @class = "label label-warning" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            <img src="@(item.Image)" height="55"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "label label-success" }) |
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "label label-warning" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "label label-danger" })
        </td>
    </tr>
}

</table>
