@model HelloJCE.Models.ItemRating
@{
    ViewBag.Title = "Testing";
}
<h2>My tests</h2>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">DatePicker</h2>
            </div>
            <div class="panel-body">
                <p>
                    bootstrap-datepicker sandbox
                    <div id="sandbox-container"><input type="text" class="form-control"></div>
                </p>
                <p><a class="btn btn-default" href="http://eternicode.github.io/bootstrap-datepicker/">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">jQuery Star Rating</h2>
            </div>
            <div class="panel-body">
                <p>
                    FyneWorks jQuery Star Rating Plugin (too ugly!!)
                </p>
                <p><a class="btn btn-default" href="http://www.fyneworks.com/jquery/star-rating/">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Irfan Star Rating (jQuery Plugin)</h2>
            </div>
            <div class="panel-body">
                <p>
                  @Html.Partial("_IrfanRating")
                </p>
                <p><a class="btn btn-default" href="http://irfandurmus.com/projects/jquery-star-rating-plugin/">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">test4</h2>
            </div>
            <div class="panel-body">
                <p>


                </p>
                <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
            </div>
        </div>
    </div><div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">test5</h2>
            </div>
            <div class="panel-body">
                <p>


                </p>
                <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
            </div>
        </div>
    </div><div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">test6</h2>
            </div>
            <div class="panel-body">
                <p>


                </p>
                <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
</div>


@Styles.Render("~/Content/date")
@Styles.Render("~/Content/ifranrate")
@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/date")
    @*@Scripts.Render("~/bundles/rate")*@
@Scripts.Render("~/bundles/ifranrate")

    <script type="text/javascript">
        $('#sandbox-container input').datepicker({
            format: "dd/mm/yyyy",
            autoclose: true,
            todayHighlight: true
        });

        $(function () {
            //tabs: http://twitter.github.com/bootstrap/javascript.html#tabs 
            $('#myTab a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            })

            // ratting system: https://github.com/irfan/jquery-star-rating
            $('.ratting-item').rating(function (vote, event) {
                var anchor = $(event.currentTarget),
                    pid = anchor.closest(".ratting-item").data("pid"),
                    url = '@Url.Action("RateItem", "List")';

                // show message while doing the database round trip
                $('.ratting-item[data-pid=' + pid + ']')
                    .next()
                    .text("Placing your vote...");

                $.ajax({
                    url: url,
                    type: "GET",
                    data: { rate: vote, id: pid },
                    success: function (data) {

                        if (data.success) {
                            // all went well, here you can say Thank you
                            $('.ratting-item[data-pid=' + data.pid + ']')
                                .next()
                                .text("Voted! (product id: " + data.pid + ")");
                        }
                        else {
                            // There must be an Exception error, let's show it
                            $('.ratting-item[data-pid=' + data.pid + ']')
                                .next()
                                .text("Something went wrong...");
                        }
                    },
                    error: function (err) {
                        // the call thrown an error
                        $('.result').text(err);
                    },
                    complete: function () {
                        //$(".loading").hide();
                    }
                });
            });

        });

    </script>
}
