@model HelloJCE.Models.ItemRating
@{
    ViewBag.Title = "Testing";
}
<h2>My tests</h2>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">DatePicker</h2>
            </div>
            <div class="panel-body">
                <p>
                    bootstrap-datepicker sandbox
                    <div id="sandbox-container"><input type="text" class="form-control"></div>
                </p>
                <p><a class="btn btn-default" href="http://eternicode.github.io/bootstrap-datepicker/">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">jQuery Star Rating</h2>
            </div>
            <div class="panel-body">
                <p>
                    FyneWorks jQuery Star Rating Plugin (too ugly!!)
                </p>
                <p><a class="btn btn-default" href="http://www.fyneworks.com/jquery/star-rating/">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Irfan Star Rating (jQuery Plugin)</h2>
            </div>
            <div class="panel-body">
                <p>
                    @Html.Partial("_IrfanRating")
                </p>
                <p><a class="btn btn-default" href="http://irfandurmus.com/projects/jquery-star-rating-plugin/">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Bootstrap Modal Dialog</h2>
            </div>
            <div class="panel-body">

                <div class="modal fade" id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Modal title</h4>
                            </div>
                            <div class="modal-body">
                                <p>One fine body&hellip;</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                <div id="sandbox-container">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                        Launch modal
                    </button>
                    <a class="btn" data-toggle="modal" href="#myModal">Launch modal</a>
                    <a class="btn btn-default" href="">Learn more &raquo;</a>
                </div>
            </div>
        </div>
    </div><div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">test5</h2>
            </div>
            <div class="panel-body">
                <p>


                </p>
                <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
            </div>
        </div>
    </div><div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">test6</h2>
            </div>
            <div class="panel-body">
                <p>


                </p>
                <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
</div>


@Styles.Render("~/Content/date")
@Styles.Render("~/Content/ifranrate")
@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/date")
    @*@Scripts.Render("~/bundles/rate")*@
    @Scripts.Render("~/bundles/ifranrate")
    @Scripts.Render("~/bundles/bootstrap")

    <script type="text/javascript">
        $('#sandbox-container input').datepicker({
            format: "dd/mm/yyyy",
            autoclose: true,
            todayHighlight: true
        });

        $(function () {
            // ratting system: https://github.com/irfan/jquery-star-rating
            $('.ratting-item').rating(function (vote, event) {
                var anchor = $(event.currentTarget),
                    pid = anchor.closest(".ratting-item").data("pid"),
                    url = '@Url.Action("RateItem", "Movies")';

                // show message while doing the database round trip
                $('.ratting-item[data-pid=' + pid + ']')
                    .next()
                    .text("Placing your vote...");

                $.ajax({
                    url: url,
                    type: "GET",
                    data: { rate: vote, id: pid },
                    success: function (data) {

                        if (data.success) {
                            // all went well, here you can say Thank you
                            $('.ratting-item[data-pid=' + data.pid + ']')
                                .next()
                                .text("Voted! Total votes: " + data.total + "");
                        }
                        else {
                            // There must be an Exception error, let's show it
                            $('.ratting-item[data-pid=' + data.pid + ']')
                                .next()
                                .text("You have already rated");
                        }
                    },
                    error: function (err) {
                        // the call thrown an error
                        //$('.result').text(err);
                    },
                    complete: function () {
                        //$(".loading").hide();
                    }
                });
            });

        });

    </script>
}
